<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Politican Data Project</title>
    <meta name="description" content="It should be easy to learn about the political past of all publicly appointed officials.">

    
    <meta name="twitter:title" content="Politican Data Project">
    <meta name="twitter:description" content="It should be easy to learn about the political past of all publicly appointed officials.">

    
    <meta property="og:title" content="Politican Data Project" />
    <meta property="og:description" content="It should be easy to learn about the political past of all publicly appointed officials." />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="assets/styles.css" rel="stylesheet">
  </head>
  <body>
    {{ content }}
  </body>
</html>